.page {
    display: grid;
	grid-template-columns: 252px 1fr;
	grid-template-rows: auto 1fr auto;
	column-gap: 30px;
	row-gap: 19px;
	min-height: 100vh;
	&__nav-main {
		grid-column: 1 / 2;
		grid-row: 1 / 2;

		max-height: 536px;
		box-sizing: border-box;
		padding-top: 40px;
		padding-bottom: 40px;

		background-color: #FFFFFF;
		box-shadow: 0px 5px 30px rgba(29, 29, 32, 0.07);
		border-radius: 10px;
	}
	&__promo {
		grid-column: 1/ 2;
		grid-row: 2 / 3;
	}
	&__header {
		grid-column: 2 / -1;
		grid-row: 1 / 2;

		min-height: 536px;
		box-sizing: border-box;
	}
	&__main {
		grid-column: 2 / -1;
		grid-row: 2 / 3;
	}
	&__footer {
		grid-column: 1 / -1;
		grid-row: 3 / -1;
	}
}

.nav-main {
	&__logo-link {
		display: block;
		margin-bottom: 43px;
		margin-left: 30px;
	}
	&__item {
		margin-bottom: 19px;
		padding-left: 30px;
	}
	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}
	&__list {
		margin-bottom: 46px;
	}
}

.user-menu {
	padding-top: 30px;
	padding-left: 57px;

	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	font-feature-settings: 'pnum' on, 'lnum' on;

	border-top: 1px solid rgba(1, 23, 10, 0.1);
	&__login {
		position: relative;
		margin-bottom: 25px;
		&::before {
			position: absolute;
			content: "";
			top: -1px;
			left: -27px;
			width: 15px;
			height: 17px;
			
			background-image: url(../img/icon-info-1.svg);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__info {
		position: relative;
		&::before {
			position: absolute;
			content: "";
			top: -1px;
			left: -28px;
			width: 17px;
			height: 17px;
			
			background-image: url(../img/icon-info-2.svg);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.promo {
	&__left-column-1, &__left-column-2, &__left-column-3 {
		box-sizing: border-box;

		box-shadow: 0px 5px 30px rgba(29, 29, 32, 0.07);
		border-radius: 10px;
	}
	&__left-column-2 {
		background-color: #FFFFFF;
	}
	&__left-column-3 {
		background-color: #FFFFFF;
	} 
}

.left-column-1 {
	position: relative;
	min-height: 152px;
	margin-bottom: 40px;
	padding: 20px;
	padding-bottom: 10px;
	&__title {
		max-width: 111px;
		margin-bottom: 50px;

		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
	}
	&__link {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: #31B768;

		text-decoration-line: underline;
	}
	img {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		border-radius: 10px;
		z-index: -1;
	}
}

.left-column-2 { 
	display: grid;
	grid-template-rows: repeat(3, auto);
	
	margin-bottom: 40px;
	padding-top: 10px;
	padding-bottom: 30px;

	text-align: center;
	&__title {
		margin-bottom: 10px;

		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
	}
	&__link {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: #31B768;

		text-decoration-line: underline;
	}
	&__info {
		max-width: 212px;
		margin-bottom: 20px;
		padding-left: 20px;
	}
	img {
		grid-row-start: 1;
		justify-self: center;
		margin-bottom: 15px;
	}
}

.left-column-3 {
	display: grid;
	grid-template-rows: repeat(4, auto);
	
	padding: 10px;
	padding-bottom: 30px;

	text-align: center;
	&__title {
		margin-bottom: 10px;

		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		
		text-align: center;
	}
	&__link {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: #31B768;

		text-decoration-line: underline;
	}
	&__info {
		max-width: 212px;
		margin-bottom: 25px;
		padding-left: 20px;
		padding-right: 20px;
		
		text-align: center;
	}
	img {
		grid-row-start: 1;
		justify-self: center;
		margin-bottom: 15px;
	}
}

.form-subscribe {
	&__input {
		width: 212px;
		box-sizing: border-box;
		margin-bottom: 15px;
		padding: 12px;
		padding-bottom: 10px;

		font-weight: 400;
		font-size: 12px;
		line-height: 14px;

		border: 1px solid rgba(1, 23, 10, 0.2);
		border-radius: 5px;
	}
	&__button {
		width: 212px;
		padding-top: 12px;
		padding-bottom: 12px;

		font-weight: 600;
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;

		background-color: #31B768;
		border-radius: 5px;
		border: none;
	}
}

.slide {
	position: relative;
	width: 1098px;
  	height: 374px;

	border-radius: 10px;
	&__foto {
		border-radius: 10px;
		box-shadow: 0px 5px 30px rgba(29, 29, 32, 0.07);
	}
	&__1 {
		position: absolute;
		content: "";
		top: 107px;
		left: 60px;
		width: 436px;

		font-weight: 500;
		font-size: 26px;
		line-height: 130%;
		color: #31B768;
	}
	&__2 {
		position: absolute;
		content: "";
		top: 195px;
		left: 60px;
		width: 436px;

		font-size: 16px;
		line-height: 22px;
	}
}

.index-slider {
	width: 1098px;
	height: 344px;
	margin: 0 auto;
}

.slider {
	position: relative;
	&__radio-input {
		display: none;
	}
}

.slider-inner {
	overflow: hidden;
}

.slider-slides { 
  	display: flex;
	width: 3294px;
	transition: transform 0.8s ease;
}

.slider-controls {
	position: absolute;
	content: "";
	top: 83%;
	left: 510px;
	z-index: 10;
}

.slider-controls__radio-label {
	display: inline-block;
	margin: 0 3px;
	width: 10px;
	height: 10px;

	border: 4px solid white;
	border-radius: 50%;
	background-color: #cccccc;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	cursor: pointer;
	transition: background-color 0.2s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	background-color: #31B768;
}


#btn-1:checked ~ .slider-inner .slider-slides {
	transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
	transform: translate(-1098px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
	transform: translate(-2196px);
}

.sorting {
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 21px;
	margin-top: 40px;
	
	align-items: baseline;
	&__title {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
	}	
	&__search {
		min-width: 252px;
		box-sizing: border-box;
		padding: 11px 15px;
		padding-right: 32px;

		border: 1px solid #31B768;
		border-radius: 5px;
		background-image: url(../img/sorting-search.svg);
		background-repeat: no-repeat;
		background-position: right 13px center;
		background-color: transparent;
	}
	input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
	input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration { display: none; }
}

.sorting-list {
	&__item {
		display: block;
		margin-right: 20px;
		margin-bottom: 24px;
	}
	&__item:last-child {
		margin-right: 0;
	}
	&__link {
		padding: 11px 19px;

		border: 1px solid #31B768;
		border-radius: 5px;
	}
}

.nav-tags {
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 21px;
	margin-top: 23px;

	align-items: baseline;
	&__title {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
}

.tags-list {
	&__item {
		display: block;
		margin-right: 15px;
		margin-bottom: 29px;
	}
	&__item:last-child {
		margin-right: 0;
	}
	&__link {
		padding: 9px 14px;

		font-weight: 400;
		font-size: 12px;
		line-height: 14px;

		border: 1px solid #31B768;
		border-radius: 5px;
	}
}

.catalog {
	display: grid;
	grid-template-columns: repeat(4, minmax(120px,1fr));
	column-gap: 30px;
	row-gap: 40px;
	grid-auto-flow: dense;
	&-item {
		box-sizing: border-box;

		background-color: #FFFFFF;
		border-radius: 10px;
	}
	&-item--large {
		grid-column: span 2;
		grid-row: span 2;
		height: 344px;
	}
	&-item--medium {
		grid-column: span 1;
		grid-row: span 2;
	}
	&-item--small {
		grid-column: span 1;
		grid-row: span 1;
	}
	&__btn {
		grid-column: 1 / -1;
		width: 252px;
		margin-left: 282px;
		padding: 20px 69px;
		padding-bottom: 19px;

		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: #ffffff;

		background-color: #31B768;
		text-decoration: none;
		border: none;
		border-radius: 10px;
	}
}

.catalog-item {
	&--small {
		position: relative;
	}
	&--small::before {
		position: absolute;
		content: "";
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;

		border: 1px dashed #31B768;
		border-radius: 10px;
	}
	&__link {
		display: grid;
	}	
	&__img {
		grid-row-start: 1;
	}
	&__title {
		margin-top: 10px;
		margin-bottom: 8px;
		padding-left: 20px;

		font-weight: 500;
		font-size: 18px;
		line-height: 130%;
	}
	&__title--small {
		margin-top: 20px;
	}	
	&__info {
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;

		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__info--small {
		margin-bottom: 29px;
	}
}

.catalog-stats-list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 40px;
	&__item {
		position: relative;
		min-width: 52px;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		margin-right: 14px;

		font-feature-settings: 'pnum' on, 'lnum' on;
	}
	&__item:last-child {
		margin-right: 0;
		margin-left: 16px;
	}
	&__item::before {
		position: absolute;
		content: "";
		top: 0;
		left: -20px;
	}
	&__item:nth-child(1)::before {
		width: 16px;
		height: 14px;

		background-image: url(../img/catalog-heart.svg);
	}
	&__item:nth-child(2)::before {
		width: 15px;
		height: 16px;

		background-image: url(../img/catalog-time.svg);
	}
	&__item:nth-child(3)::before {
		width: 10px;
		height: 15px;

		background-image: url(../img/catalog-lightning.svg);
	}
}
	
.main-footer {
	display: grid;
	grid-template-columns: auto auto 1fr;
	column-gap: 20px;
	align-items: center;
	min-height: 87px;
	margin-top: 74px;

	border-top: 1px solid rgba(1, 23, 10, 0.1);
	font-feature-settings: 'pnum' on, 'lnum' on;
	&__link {
		text-decoration: underline;
	}
}

.social-list {
	display: grid;
	grid-template-columns: repeat(auto-fill,32px);
	column-gap: 20px;
	justify-self: end;
	width: 188px;
}
